node_modules/
dist/
credentials.json
debug/token.js
docs/
deploy/
.DS_Store
.npmrc
.eslintcache
.*/
!.github/
!.husky/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
